@model SplitAdminEcomerce.Models.ConsultorTecnico

@{
    ViewData["Title"] = "Desactivar";
}

<h1>Desactivar</h1>

<div>
    <h4>ConsultorTecnico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdConsultorTecnico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdConsultorTecnico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Solicitante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Solicitante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCategoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pregunta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pregunta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Editado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Editado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Che_Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Che_Activo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Che_ConRespuesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Che_ConRespuesta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdConsultor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdConsultor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EncriptId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EncriptId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
