@model SplitAdminEcomerce.Uniones.PedidoUnion
@using System.Globalization

@{
    ViewData["Title"] = $"Detalle {Model.Cliente.TipoCliente} No: " + Model.Pedido.IdPedido;
    System.Threading.Thread.CurrentThread.CurrentUICulture = new System.Globalization.CultureInfo("es-ES");
    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("es-ES");
}
<div id="app_details_pedido">
    <div class="content-header justify-content-between">
        <div>
            <h4 class="content-title content-title-xs"></h4>
        </div>
        <div class="d-none d-sm-flex">
            @if (Model.Pedido.Estatus == "P")
            {
                <a href="#modal4" class="btn btn-dark" data-toggle="modal"><i data-feather="plus" class="svg-14"></i>Detalles proceso</a>
            }
        </div>
    </div><!-- content-header -->
    @if (Model.Pedido.Fecha.AddDays(10) < DateTime.Now && Model.Pedido.Estatus == "C")
    {
        <div class="alert alert-warning mg-b-0" role="alert">
            <h6 class="alert-heading">Estimado usuario!</h6>
            <p>La cotización con folio: <strong>@Model.Pedido.IdPedido</strong> ya no es vigente.</p>
            <hr>
            <p class="mb-0">Atte: Sistema Administrador E-commerce.</p>
        </div>
    }
    <div class="row">
        
        <div class="card card-invoice col-12">
            <div class="card-header">
                <div>
                    <h5 class="mg-b-3">@Html.Raw((Model.Pedido.Estatus == "P" ? "Pedido " + Model.Cliente.TipoCliente : "Cotización " + Model.Cliente.TipoCliente)): @Model.Pedido.IdPedido</h5>
                    <span class="tx-sm text-muted">Vigente hasta: @Model.Pedido.Fecha.AddDays(10).ToString("F")</span>
                </div>
                <div class="btn-group-invoice">
                    @*<a href="" class="btn btn-white btn-sm btn-uppercase"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-printer"><polyline points="6 9 6 2 18 2 18 9"></polyline><path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path><rect x="6" y="14" width="12" height="8"></rect></svg> Print</a>*@
                    @*<a href="" class="btn btn-white btn-sm btn-uppercase"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg> Email</a>*@
                    @*<a href="" class="btn btn-brand-02 btn-sm btn-uppercase"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-credit-card"><rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect><line x1="1" y1="10" x2="23" y2="10"></line></svg> Pay</a>*@
                </div>
            </div><!-- card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="content-label">Dirección de envio</label>
                        @if (Model.Pedido.Estatus == "P" && Model.Cliente.TipoCliente == "B2C")
                        {
                            <h6 class="tx-15 mg-b-10">@Html.DisplayFor(modelItem => Model.DireccionEnvio.Nombre) @Html.DisplayFor(modelItem => Model.DireccionEnvio.Apellido)</h6>
                            <p class="mg-b-0">
                                @Html.DisplayFor(modelItem => Model.DireccionEnvio.Calle) ,
                                @Html.DisplayFor(modelItem => Model.DireccionEnvio.NoExterior)
                                @Html.DisplayFor(modelItem => Model.DireccionEnvio.Colonia),
                                @Html.DisplayFor(modelItem => Model.DireccionEnvio.Delegacion),
                                @Html.DisplayFor(modelItem => Model.DireccionEnvio.EstadoName),
                                CP: @Html.DisplayFor(modelItem => Model.DireccionEnvio.CP)
                            </p>
                            <p class="mg-b-0"> Tel No: @Html.DisplayFor(modelItem => Model.DireccionEnvio.Telefono)</p>
                        }
                        else if (Model.Pedido.Estatus == "P" && Model.Cliente.TipoCliente == "B2B")
                        {
                            @if (Model.DirEnvioB2B != null)
                            {
                                <h6 class="tx-15 mg-b-10">@Html.DisplayFor(modelItem => Model.DirEnvioB2B.ContactoNombre)</h6>
                                <p class="mg-b-0">
                                    @Html.DisplayFor(modelItem => Model.DirEnvioB2B.Calle) ,
                                    @Html.DisplayFor(modelItem => Model.DirEnvioB2B.Colonia),
                                    @Html.DisplayFor(modelItem => Model.DirEnvioB2B.Municipio),
                                    @Html.DisplayFor(modelItem => Model.DirEnvioB2B.EstadoName),
                                    CP: @Html.DisplayFor(modelItem => Model.DirEnvioB2B.CP)
                                </p>
                                <p class="mg-b-0"> Tel No: @Html.DisplayFor(modelItem => Model.DirEnvioB2B.ContactoTelefono)</p>
                                <p class="mg-b-0"> Email: @Html.DisplayFor(modelItem => Model.DirEnvioB2B.ContactoCorreo)</p>
                            }
                            else
                            {
                                <p class="mg-b-0">No se encontro la direccion de envio </p>
                            }

                        }
                    </div><!-- col -->
                    <div class="col-sm-6 tx-right d-none d-md-block">
                        <label class="content-label">Cliente</label>
                        <h2 class="tx-normal tx-success-400 mg-b-10 tx-spacing--2">@Html.DisplayFor(modelItem => Model.Cliente.NombreFull)</h2>
                    </div><!-- col -->
                    <div class="col-sm-6 col-lg-8 mg-t-40 mg-sm-t-0 mg-md-t-40">
                        <label class="content-label">Direccion de facturación</label>
                        @if (Model.Pedido.Estatus == "P" && Model.Cliente.TipoCliente == "B2C")
                        {
                            @if (Model.DireccionFacturacion != null)
                            {
                                <h6 class="tx-15 mg-b-10">@Html.DisplayFor(modelItem => Model.DireccionFacturacion.RazonSocial) </h6>
                                <p class="mg-b-0"> @Html.DisplayFor(modelItem => Model.DireccionFacturacion.RFC)</p>
                                <p class="mg-b-0">
                                    @Html.DisplayFor(modelItem => Model.DireccionFacturacion.Calle) ,
                                    @Html.DisplayFor(modelItem => Model.DireccionFacturacion.NoExterior)
                                    @Html.DisplayFor(modelItem => Model.DireccionFacturacion.Colonia),
                                    @Html.DisplayFor(modelItem => Model.DireccionFacturacion.Delegacion),
                                    @Html.DisplayFor(modelItem => Model.DireccionFacturacion.EstadoName),
                                    CP: @Html.DisplayFor(modelItem => Model.DireccionFacturacion.CP)
                                </p>
                            }
                            else
                            {
                                <p class="mg-b-0">No se requiere factura </p>
                            }

                        }
                        else if (Model.Pedido.Estatus == "P" && Model.Cliente.TipoCliente == "B2B")
                        {
                            @if (Model.DirFacturacionB2B != null)
                            {
                                <h6 class="tx-15 mg-b-10">@Html.DisplayFor(modelItem => Model.DirFacturacionB2B.NombreCliente) </h6>
                                <p class="mg-b-0"> @Html.DisplayFor(modelItem => Model.DirFacturacionB2B.RFC)</p>
                                <p class="mg-b-0">
                                    @Html.DisplayFor(modelItem => Model.DirFacturacionB2B.Calle) ,
                                    @Html.DisplayFor(modelItem => Model.DirFacturacionB2B.Colonia),
                                    @Html.DisplayFor(modelItem => Model.DirFacturacionB2B.Municipio),
                                    @Html.DisplayFor(modelItem => Model.DirFacturacionB2B.EstadoName),
                                    CP: @Html.DisplayFor(modelItem => Model.DirFacturacionB2B.CP)
                                </p>
                            }
                            else
                            {
                                <p class="mg-b-0">No se encontro la direccion de facturación </p>
                            }

                        }
                    </div><!-- col -->
                    <div class="col-sm-6 col-lg-4 mg-t-40">
                        <label class="content-label">Invoice Information</label>
                        <ul class="list-unstyled lh-7">
                            <li class="d-flex justify-content-between">
                                <span>Tipo compra:</span>
                                <span class="badge badge-success">@Model.Cliente.TipoCliente</span>
                            </li>
                            <li class="d-flex justify-content-between">
                                <span>Estatus</span>
                                <span>@Html.Raw((Model.Pedido.Estatus == "C" ? "Cotización" : "Pedido"))</span>
                            </li>
                            <li class="d-flex justify-content-between">
                                <span>Moneda</span>
                                <span>@Html.Raw(Model.Pedido.MonedaPago == "" ? "USD" : Model.Pedido.MonedaPago)</span>
                            </li>
                            <li class="d-flex justify-content-between">
                                <span>Tipo de cambio</span>
                                <span>@Model.Pedido.TipoCambio</span>
                            </li>
                            <li class="d-flex justify-content-between">
                                <span>Metodo de pago</span>
                                <span>@Model.Pedido.MetodoPago</span>
                            </li>
                            <li class="d-flex justify-content-between">
                                <span>Fecha</span>
                                <span>@Model.Pedido.Fecha.ToString("dd MMMM, yyyy")</span>
                            </li>
                            <li class="d-flex justify-content-between">
                                <span>Vigente hasta</span>
                                <span>@Model.Pedido.Fecha.AddDays(10).ToString("dd MMMM, yyyy")</span>
                            </li>
                        </ul>
                    </div><!-- col -->
                </div><!-- row -->

                <div class="table-responsive mg-t-25">
                    <table class="table table-invoice bd-b">
                        <thead>
                            <tr>
                                <th class="wd-20p">Codigo</th>
                                <th class="wd-40p d-none d-sm-table-cell">Descripción</th>
                                <th class="tx-center">Cantidad</th>
                                <th class="tx-right">Moneda</th>
                                <th class="tx-right">Subtotal</th>
                                <th class="tx-right">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PedidoDetalle.Where(a => a.Activo == "si"))
                            {
                                <tr>
                                    <td class="tx-nowrap">@Html.DisplayFor(modelItem => item.Codigo)</td>
                                    <td class="d-none d-sm-table-cell tx-color-03">@Html.DisplayFor(modelItem => item.Descripcion)</td>
                                    <td class="tx-center">@Html.DisplayFor(modelItem => item.Cantidad)</td>
                                    <td class="tx-right">@Html.DisplayFor(modelItem => item.Moneda)</td>
                                    <td class="tx-right">@Html.DisplayFor(modelItem => item.Subtotal)</td>
                                    <td class="tx-right">@Html.DisplayFor(modelItem => item.Total)</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

                <div class="row justify-content-between mg-t-25">
                    <div class="col-sm-6 col-lg-6 order-2 order-sm-0 mg-t-40 mg-sm-t-0">
                        <label class="content-label mg-b-10">Referencias de paqueteria</label>
                        <p class="tx-sm">
                            @if (Model.Pedido.Estatus == "P")
                            {
                                if (Model.Cliente.TipoCliente == "B2C")
                                {
                                <p>@Model.WsB2C.ReferenciasPaque</p>
                            }
                            else
                            {
                                @if (Model.WsB2B != null)
                                {
                                    <p>@Model.WsB2B.ReferenciaFactura</p>
                                }

                            }
                        }
                            </p>
                        </div><!-- col -->
                        <div class="col-sm-6 col-lg-4 order-1 order-sm-0">
                            <ul class="list-unstyled lh-7 pd-r-10">
                                <li class="d-flex justify-content-between">
                                    <span>Sub-Total</span>
                                    <span>@Html.DisplayFor(modelItem => Model.Pedido.SubTotal)</span>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <span>Iva (16%)</span>
                                    <span>@Html.DisplayFor(modelItem => Model.Pedido.Iva)</span>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <span>Discount (@Html.DisplayFor(modelItem => Model.Cliente.GroupCode))</span>
                                    <span>@Html.Raw((Model.Cliente.GroupCode * Model.Pedido.Total))</span>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <strong>Total</strong>
                                    <strong>@Html.DisplayFor(modelItem => Model.Pedido.Total)</strong>
                                </li>
                            </ul>

                            <button class="btn btn-block btn-primary btn-brand-02">Pay Now</button>
                        </div><!-- col -->
                    </div>
                </div><!-- card-body -->
            </div>
        </div>
        @if (Model.LogEcomWS != null)
        {
            <div>
                <textarea id="text_json_response" style="display:none">@Model.LogEcomWS.JsonResponse</textarea>
            </div>
        }
        <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" id="exampleModalLabel4">Seguimiento</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i data-feather="x"></i></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @if (Model.Pedido.Estatus == "P")
                        {
                            <div class="timeline-item">
                                <div class="row row-sm">
                                    <div class="col-sm-3 col-lg-2">
                                        <div class="date-wrapper">
                                            <span class="timeline-date">Pago</span>
                                            @*<h6 class="timeline-time">08:40<span>pm</span></h6>*@
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="timeline-body">
                                            <div class="timeline-header">
                                                <div class="avatar avatar-xs "><span class="avatar-initial rounded-circle bg-pink">OP</span></div>
                                                <h6>Forma de pago</h6>
                                                @if (Model.Pedido.MetodoPago == "03")
                                                {
                                                    @if (Model.OPWebHookLog.TipoPago == "" || Model.OPWebHookLog.TipoPago == "0")
                                                    {
                                                        Model.OPWebHookLog.TipoPago = "card";
                                                    }
                                                    <span>@Html.Raw((Model.OPWebHookLog.TipoPago == "card" ? "Pago con tarjeta" : "Pago en banco"))</span>
                                                }
                                                else
                                                {
                                                    <span>Credito</span>
                                                }

                                            </div><!-- timeline-header -->
                                            <div class="card card-timeline card-timeline-note">
                                                @if (Model.Pedido.MetodoPago == "03")
                                                {
                                                    @if (Model.OPWebHookLog.Titulo == "charge.succeeded" && Model.OPWebHookLog.Estatus == "completed")
                                                    {
                                                        <span class="badge badge-success">
                                                            Pago exitoso a OpenPay
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        @if (Model.OPWebHookLog.Estatus == "failed")
                                                        {
                                                            <span class="badge badge-danger">@Model.OPWebHookLog.Details.Transaction.Error_message</span>
                                                        }
                                                        @if (Model.OPWebHookLog.Estatus == "in_progress")
                                                        {
                                                            <span class="badge badge-warning">pago en proceso </span>
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    <span>Credito</span>
                                                }


                                            </div>
                                        </div><!-- timeline-body -->
                                    </div>
                                </div><!-- row -->
                            </div><!-- timeline -->
                            <div class="timeline-item">
                                <div class="row row-sm">
                                    <div class="col-sm-3 col-lg-2">
                                        <div class="date-wrapper">
                                            <span class="timeline-date">Documentos SAP</span>
                                            @*<h6 class="timeline-time">08:40<span>pm</span></h6>*@
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="timeline-body">
                                            <div class="timeline-header">
                                                <div class="avatar avatar-xs "><span class="avatar-initial rounded-circle bg-pink">WS</span></div>
                                                <h6>Documentos SAP</h6>
                                            </div><!-- timeline-header -->
                                            <div class="card card-timeline card-timeline-article">
                                                @if (Model.Cliente.TipoCliente == "B2C")
                                                {
                                                    @if (Model.WsB2C == null)
                                                    {
                                                        <span class="badge badge-danger">No existen datos de proceso Splittel servicios</span>
                                                        <div v-if="json_responseWS != null">
                                                            <div class="alert alert-warning mg-b-0" role="alert">
                                                                <h6 class="alert-heading">Splittel servicios!</h6>
                                                                <p>{{json_responseWS.LogResult.ErrorDescription}}</p>
                                                            </div>
                                                            <div class="alert alert-warning mg-b-0" role="alert" v-if="json_responseWS.LogResult.Diccionary != undefined">
                                                                <h5>Detalle</h5>
                                                                <br />
                                                                <table class="table bg-white" v-if="json_responseWS.LogResult.Diccionary.Diccionary.length > 0">
                                                                    <tr>
                                                                        <th>Codigo</th>
                                                                        <th>Tipo error</th>
                                                                    </tr>
                                                                    <tr v-for="(item, index) in json_responseWS.LogResult.Diccionary.Diccionary">
                                                                        <td>{{item}}</td>
                                                                        <td>Tipo error</td>
                                                                    </tr>
                                                                </table>
                                                                <table class="table bg-white" v-if="json_responseWS.LogResult.Diccionary.Diccionary.length == undefined">
                                                                    <tr>
                                                                        <th>Codigo</th>
                                                                        <th>Tipo error</th>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>{{json_responseWS.LogResult.Diccionary.Diccionary.Key}}</td>
                                                                        <td>
                                                                            <span class="badge badge-warning" v-if="json_responseWS.LogResult.Diccionary.Diccionary.Value == '200'">Sin stock</span>
                                                                            <span class="badge badge-danger" v-if="json_responseWS.LogResult.Diccionary.Diccionary.Value == '100'">No existe en SAP</span>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                            
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        @if (Model.OPWebHookLog.Titulo == "charge.succeeded" && Model.OPWebHookLog.Estatus == "completed" && Model.WsB2C != null)
                                                        {
                                                            @if (Model.WsB2C.EstatusWS == "0")
                                                            {
                                                                <span class="badge badge-success">Proceso completo</span>
                                                                <br />
                                                                <ul class="list-group list-group-flush mg-b-15">
                                                                    <li class="list-group-item">
                                                                        <span class="bg-primary"></span>
                                                                        <span>Cotización:</span>
                                                                        <span class="tx-medium">@Model.WsB2C.CotizacionSAP</span>
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="bg-teal"></span>
                                                                        <span>Factura:</span>
                                                                        <span class="tx-medium">@Model.WsB2C.FacturaSAP</span>
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="bg-teal"></span>
                                                                        <span>Pago:</span>
                                                                        <span class="tx-medium">@Model.WsB2C.PagoSAP</span>
                                                                    </li>
                                                                </ul>
                                                            }
                                                            else
                                                            {
                                                                <span class="badge badge-info"></span>
                                                                <div v-if="json_responseWS != null">
                                                                    <div class="alert alert-warning mg-b-0" role="alert">
                                                                        <h6 class="alert-heading">Splittel servicios!</h6>
                                                                        <p>{{json_responseWS.LogResult.ErrorDescription}}</p>
                                                                    </div>

                                                                    <div class="alert alert-warning mg-b-0" role="alert" v-if="json_responseWS.LogResult.Diccionary != undefined">
                                                                        <h5>Detalle</h5>
                                                                        <br />
                                                                        <table class="table bg-white" v-if="json_responseWS.LogResult.Diccionary.Diccionary.length > 0">
                                                                            <tr>
                                                                                <th>Codigo</th>
                                                                                <th>Tipo error</th>
                                                                            </tr>
                                                                            <tr v-for="(item, index) in json_responseWS.LogResult.Diccionary.Diccionary">
                                                                                <td>{{item}}</td>
                                                                                <td>Tipo error</td>
                                                                            </tr>
                                                                        </table>
                                                                        <table class="table bg-white" v-if="json_responseWS.LogResult.Diccionary.Diccionary.length == undefined">
                                                                            <tr>
                                                                                <th>Codigo</th>
                                                                                <th>Tipo error</th>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>{{json_responseWS.LogResult.Diccionary.Diccionary.Key}}</td>
                                                                                <td>
                                                                                    <span class="badge badge-warning" v-if="json_responseWS.LogResult.Diccionary.Diccionary.Value == '200'">Sin stock</span>
                                                                                    <span class="badge badge-danger" v-if="json_responseWS.LogResult.Diccionary.Diccionary.Value == '100'">No existe en SAP</span>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    @if (Model.WsB2B == null)
                                                    {
                                                        <span class="badge badge-danger">No existen datos de proceso Splittel servicios</span>
                                                        <div v-if="json_responseWS != null">
                                                            <div class="alert alert-warning mg-b-0" role="alert">
                                                                <h6 class="alert-heading">Splittel servicios!</h6>
                                                                <p>{{json_responseWS.LogResult.ErrorDescription}}</p>
                                                            </div>

                                                            <div class="alert alert-warning mg-b-0" role="alert" v-if="json_responseWS.LogResult.Diccionary != undefined">
                                                                <h5>Detalle</h5>
                                                                <br />
                                                                <table class="table bg-white" v-if="json_responseWS.LogResult.Diccionary.Diccionary.length > 0">
                                                                    <tr>
                                                                        <th>Codigo</th>
                                                                        <th>Tipo error</th>
                                                                    </tr>
                                                                    <tr v-for="(item, index) in json_responseWS.LogResult.Diccionary.Diccionary">
                                                                        <td>{{item}}</td>
                                                                        <td>Tipo error</td>
                                                                    </tr>
                                                                </table>
                                                                <table class="table bg-white" v-if="json_responseWS.LogResult.Diccionary.Diccionary.length == undefined">
                                                                    <tr>
                                                                        <th>Codigo</th>
                                                                        <th>Tipo error</th>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>{{json_responseWS.LogResult.Diccionary.Diccionary.Key}}</td>
                                                                        <td>
                                                                            <span class="badge badge-warning" v-if="json_responseWS.LogResult.Diccionary.Diccionary.Value == '200'">Sin stock</span>
                                                                            <span class="badge badge-danger" v-if="json_responseWS.LogResult.Diccionary.Diccionary.Value == '100'">No existe en SAP</span>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        @if (Model.OPWebHookLog.Titulo == "charge.succeeded" && Model.OPWebHookLog.Estatus == "completed" && Model.Pedido.MetodoPago == "03" && Model.WsB2B != null || Model.WsB2B != null)
                                                        {
                                                            @if (Model.WsB2B.EstatusPedido == 0)
                                                            {
                                                                <span class="badge badge-success">Proceso completo</span>
                                                                <br />
                                                                <ul class="list-group list-group-flush mg-b-15">
                                                                    <li class="list-group-item">
                                                                        <span class="bg-primary"></span>
                                                                        <span>Cotización:</span>
                                                                        <span class="tx-medium">@Model.WsB2B.OfertaVenta</span>
                                                                    </li>
                                                                    @if (Model.WsB2B.OrdenVentaBorrador != "")
                                                                    {
                                                                        <li class="list-group-item">
                                                                            <span class="bg-teal"></span>
                                                                            <span>Orden de venta borrador:</span>
                                                                            <span class="tx-medium text-right">@Model.WsB2B.OrdenVentaBorrador</span>
                                                                        </li>
                                                                    }
                                                                    else
                                                                    {
                                                                        <li class="list-group-item">
                                                                            <span class="bg-teal"></span>
                                                                            <span>Orden de venta:</span>
                                                                            <span class="tx-medium text-right">@Model.WsB2B.OrdenVenta</span>
                                                                        </li>
                                                                        <li class="list-group-item">
                                                                            <span class="bg-teal"></span>
                                                                            <span>Lista de picking:</span>
                                                                            <span class="tx-medium">@Model.WsB2B.ListaPicking</span>
                                                                        </li>
                                                                        <li class="list-group-item">
                                                                            <span class="bg-teal"></span>
                                                                            <span>Pago:</span>
                                                                            <span class="tx-medium">@Model.WsB2B.Pago</span>
                                                                        </li>
                                                                    }
                                                                </ul>
                                                                @if (Model.WsB2B.OrdenVentaBorrador != "")
                                                                {
                                                                    <div class="alert alert-warning mg-b-0" role="alert">
                                                                        <h6 class="alert-heading">Estimado usuario!</h6>
                                                                        <p>El pedido: <strong>@Model.Pedido.IdPedido</strong> ha sido puesto como orden en aprobación.</p>
                                                                    </div>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <span class="badge badge-info"></span>
                                                                <div v-if="json_responseWS != null">
                                                                    <div class="alert alert-warning mg-b-0" role="alert">
                                                                        <h6 class="alert-heading">Splittel servicios!</h6>
                                                                        <p>{{json_responseWS.LogResult.ErrorDescription}}</p>
                                                                    </div>

                                                                    <div class="alert alert-warning mg-b-0" role="alert" v-if="json_responseWS.LogResult.Diccionary != undefined">
                                                                        <h5>Detalle</h5>
                                                                        <br />
                                                                        <table class="table bg-white" v-if="json_responseWS.LogResult.Diccionary.Diccionary.length > 0">
                                                                            <tr>
                                                                                <th>Codigo</th>
                                                                                <th>Tipo error</th>
                                                                            </tr>
                                                                            <tr v-for="(item, index) in json_responseWS.LogResult.Diccionary.Diccionary">
                                                                                <td>{{item}}</td>
                                                                                <td>Tipo error</td>
                                                                            </tr>
                                                                        </table>
                                                                        <table class="table bg-white" v-if="json_responseWS.LogResult.Diccionary.Diccionary.length == undefined">
                                                                            <tr>
                                                                                <th>Codigo</th>
                                                                                <th>Tipo error</th>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>{{json_responseWS.LogResult.Diccionary.Diccionary.Key}}</td>
                                                                                <td>
                                                                                    <span class="badge badge-warning" v-if="json_responseWS.LogResult.Diccionary.Diccionary.Value == '200'">Sin stock</span>
                                                                                    <span class="badge badge-danger" v-if="json_responseWS.LogResult.Diccionary.Diccionary.Value == '100'">No existe en SAP</span>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div><!-- timeline-body -->
                                    </div>
                                </div><!-- row -->
                            </div><!-- timeline -->
                        }

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script>
            var app_details_pedido = new Vue({
                el: "#app_details_pedido",
                data: {
                    json_responseWS: null
                },
                mounted() {
                    var json_res = document.getElementById("text_json_response")
                    if (json_res != null) {
                        this.json_responseWS = JSON.parse(json_res.value);

                        console.log(this.json_responseWS);
                    }
                },
                methods: {

                }
            });
        </script>
    }

