@model IEnumerable<SplitAdminEcomerce.Views.ViewAd_Pedidos>

@{
    ViewData["Title"] = "Pendiente";
}
<table class="table datatable1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreFull)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moneda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCambio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreFull)
                </td>
                <td>
                    @if (item.TipoCliente.Trim() == "B2C")
                    {
                        <span class="badge badge-primary">@Html.DisplayFor(modelItem => item.TipoCliente)</span>

                    }
                    else
                    {
                        <span class="badge badge-secondary">@Html.DisplayFor(modelItem => item.TipoCliente)</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Moneda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoCambio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.ActionLink("Ver", "Details", new { id = item.EncriptId }, new { title = string.Format("Ver detalles de la orden :{0} ", item.IdPedido) })
                </td>
            </tr>
        }
    </tbody>
</table>
