@model IEnumerable<SplitAdminEcomerce.Models.SubCategoria>

@{
    ViewData["Title"] = "Sub-categorias";
}
<table class="table datatable1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdFamilia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubNivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdFamilia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubNivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.EncriptId }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.EncriptId }) 
            </td>
        </tr>
}
    </tbody>
</table>
