@model SplitAdminEcomerce.Models.Blog

@{
    ViewData["Title"] = "Detalle de blog: " + Model.Titulo;
}

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contenido1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contenido1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contenido2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contenido2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebDescripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebDescripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImgCaratula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImgCaratula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImgLanding)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImgLanding)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Che_Activo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Che_Activo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
