@model IEnumerable<SplitAdminEcomerce.Models.BlogBuscador>

@{
    ViewData["Title"] = "Listado de blogs";
}
@if (ViewBag.Mode == "List")
{
    <table class="table datatable1">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contenido1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Che_Activo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contenido1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Che_Activo)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.EncriptId }) |
                        @Html.ActionLink("Detalle", "Details", new { id = item.EncriptId }) 
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="blog-card">
                    <img src="@item.ImgCaratula" alt="" class="img-fluid rounded">
                    <h4 class="my-3">
                        <a href="" class="">@Html.DisplayFor(modelItem => item.Titulo)</a>
                    </h4>
                    <p class="text-muted">@Html.DisplayFor(modelItem => item.Contenido1)</p>
                    <hr class="hr-dashed">
                    <div class="d-flex justify-content-between">
                        <div class="meta-box">
                            <div class="media">
                                <div class="media-body align-self-center text-truncate">
                                    <ul class="p-0 list-inline mb-0">
                                        <li class="list-inline-item">@Html.DisplayFor(modelItem => item.Fecha)</li>
                                        <li class="list-inline-item">by <a href="">admin</a></li>
                                    </ul>
                                </div><!--end media-body-->
                            </div>
                        </div><!--end meta-box-->
                        <div class="align-self-center">
                            <a href="#" class="text-dark">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div><!--end blog-card-->

            </div><!--end card-body-->
        </div>
    </div>
    }

</div>
}


