@model SplitAdminEcomerce.Models.Producto

@{
    ViewData["Title"] = "Producto detalle: " + Model.Codigo;

    SplitAdminEcomerce.Uniones.ImagenesSeccion ImgsMiniatura = ViewBag.ImgsMiniatura;

    string file = "";
    @if (Model != null)
    {
        file = ImgsMiniatura.Imagenes.Count == 1 ? ImgsMiniatura.Imagenes.ElementAt(0).Ruta : "https://via.placeholder.com/500/637382/fff";
    }

    var Categoria = ViewBag.Categoria == null ? new SplitAdminEcomerce.Models.Categoria() : (SplitAdminEcomerce.Models.Categoria)ViewBag.Categoria;
    var SubCategoria = ViewBag.SubCategoria == null ? new SplitAdminEcomerce.Models.SubCategoria() : (SplitAdminEcomerce.Models.SubCategoria)ViewBag.SubCategoria;

}
@if (Model != null)
{
    <div id="sms_active" class="alert alert-danger mg-b-0" role="alert" style="display: @Html.Raw((Model.Activo.Trim() == "no") ? "block": "none")">
        <h6 class="alert-heading">Estimado usuario!</h6>
        <p>El producto <strong>@Model.Descripcion</strong> se encuentra desactivado, si deseas activarlo por favor selecciona la pestaña <strong>Configuración</strong> y da click en <strong>Activar/Desactivar</strong></p>
        <hr>
        <p class="mb-0">Atte: Administrador Ecommerce Grupo Splittel.</p>
    </div>
}

<div id="app_detalleProducto">
    @if (Model == null)
    {
        <div class="row">
            <div class="col-4">
                <div class="input-group">
                    <input type="text" id="inp_bus_patron" v-on:keyup="Buscardor()" class="form-control" placeholder="¿Qué deseas buscar?" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <select class="form-control" v-on:change="Buscardor()" id="inp_bus_colum">
                            <option value="Codigo">Codigo</option>
                            <option value="Descripcion" selected>Descripcion</option>
                        </select>
                    </div>
                </div>
                <div>
                    <div class="list-group" v-if="ResultadosBus.length > 0" style="overflow-y: scroll; height: auto;position: absolute;max-height: 400px;">
                        <a v-for="(item , index) in ResultadosBus" target="_blank" v-bind:href="'@Url.Action("Details","Producto")/'+item.encriptId" class="list-group-item list-group-item-action">{{ item.descripcion }}</a>
                    </div>
                </div>

            </div>
        </div>
    }

    <div class="">
        @if (Model != null)
        {
            <div class="content-body-profile">
                <div class="profile-sidebar">
                    <div class="profile-sidebar-header">
                        <div class="avatar"><img src="@file" class="rounded-circle" alt=""></div>
                        <h5>@Model.Descripcion</h5>
                        <p>@Model.Codigo</p>
                    </div><!-- profile-sidebar-header -->
                    <div class="profile-sidebar-body">
                        <label class="content-label">@Html.DisplayNameFor(model => model.IdDesclarga)</label>
                        <ul class="list-unstyled profile-info-list mg-b-0">
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg>
                                <a href="#offCanvas3" title="ver detalle " class="off-canvas-menu tx-primary">@Html.DisplayFor(model => model.IdDesclarga)</a>
                            </li>
                        </ul>
                        <label class="content-label">@Html.DisplayNameFor(model => model.IdCategoria)</label>
                        <ul class="list-unstyled profile-info-list mg-b-0">
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg>
                                <span class="tx-color-03">@Categoria.DescripcionFamilia</span>
                            </li>
                        </ul>
                        <label class="content-label">@Html.DisplayNameFor(model => model.IdSubcategoria)</label>
                        <ul class="list-unstyled profile-info-list mg-b-0">
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg>
                                <span class="tx-color-03">@SubCategoria.Nombre</span>
                            </li>
                        </ul>
                        <label class="content-label">@Html.DisplayNameFor(model => model.PrecioUnitario)</label>
                        <ul class="list-unstyled profile-info-list mg-b-0">
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg>
                                <span class="tx-color-03">$ @Html.DisplayFor(model => model.PrecioUnitario)</span>
                            </li>
                        </ul>
                        <label class="content-label">@Html.DisplayNameFor(model => model.Descuento)</label>
                        <ul class="list-unstyled profile-info-list mg-b-0">
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg>
                                @if (Model.Descuento <= 0)
                                {
                                    <span class="badge badge-danger">No aplica descuento</span>
                                }
                                else
                                {
                                    <span class="tx-color-03">@Html.DisplayFor(model => model.Descuento) %</span>
                                }
                            </li>
                        </ul>
                        <label class="content-label">@Html.DisplayNameFor(model => model.Stock)</label>
                        <ul class="list-unstyled profile-info-list mg-b-0">
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg>
                                @if (Model.Stock <= 0)
                                {
                                    <span class="badge badge-danger">@Html.DisplayFor(model => model.Stock)</span>
                                }
                                else
                                {
                                    <span class="tx-color-03">@Html.DisplayFor(model => model.Stock)</span>
                                }
                            </li>
                        </ul>
                        <label class="content-label">@Html.DisplayNameFor(model => model.Activo)</label>
                        <ul class="list-unstyled profile-info-list mg-b-0">
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg>
                                <span id="txt_active" class="tx-color-03">@Html.DisplayFor(model => model.Activo)</span>
                            </li>
                        </ul>
                    </div><!-- profile-sidebar-body -->
                </div>
                <div class="profile-body">
                    <div class="profile-body-header">
                        <div class="nav-wrapper">
                            <ul class="nav nav-line" id="profileTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#tab-Cotizaciones" role="tab" aria-controls="overview" aria-selected="true">Imagenes del producto</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="projects-tab" data-toggle="tab" href="#tab-Pendientes" role="tab" aria-controls="projects" aria-selected="false">Descripcion técnica</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="people-tab" data-toggle="tab" href="#tab-Pedidos" role="tab" aria-controls="people" aria-selected="false">Adicionales</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="settings-tab" data-toggle="tab" href="#tab-Rechazados" role="tab" aria-controls="settings" aria-selected="false">Miniatura</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="settings-tab" data-toggle="tab" href="#tab-Fiechatec" role="tab" aria-controls="settings" aria-selected="false">Ficha Técnica</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="settings-tab" data-toggle="tab" href="#tab-view360" role="tab" aria-controls="settings" aria-selected="false">Vista 360</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="settings-tab" data-toggle="tab" href="#tab-settings" role="tab" aria-controls="settings" aria-selected="false">Configuración</a>
                                </li>
                            </ul>
                        </div><!-- nav-wrapper -->
                    </div><!-- profile-body-header -->
                    <div class="tab-content pd-15 pd-sm-20">
                        <div id="tab-Cotizaciones" class="tab-pane show active">
                            <div class="card card-hover card-deal">
                                <div class="card-header bg-transparent bd-b-0">
                                    <h6 class="card-title mg-b-0">@Model.Codigo</h6>
                                    <nav class="nav nav-card-icon">
                                        <a href="#" title="Actulizar" v-on:click="GetImages('Producto')"><i data-feather="refresh-cw"></i></a>
                                        <a href="#" title="Agregar nuevo" v-on:click="Updaload('Producto')"><i data-feather="plus"></i></a>
                                    </nav>
                                </div>
                                <div class="card-body  row" id="List_Producto">
                                    <partial name="ImgFiles" model="ViewBag.ImgsProducto" />
                                </div>
                            </div>
                        </div>
                        <div id="tab-Pendientes" class="tab-pane">
                            <div class="card card-hover card-deal">
                                <div class="card-header bg-transparent bd-b-0">
                                    <h6 class="card-title mg-b-0">@Model.Codigo</h6>
                                    <nav class="nav nav-card-icon">
                                        <a href="#" title="Actulizar" v-on:click="GetImages('Descripcion')"><i data-feather="refresh-cw"></i></a>
                                        <a href="#" title="Agregar nuevo" v-on:click="Updaload('Descripcion')"><i data-feather="plus"></i></a>
                                    </nav>
                                </div>
                                <div class="card-body  row" id="List_Descripcion">
                                    <partial name="ImgFiles" model="ViewBag.ImgsDescripcion" />
                                </div>
                            </div>
                        </div>
                        <div id="tab-Pedidos" class="tab-pane">
                            <div class="card card-hover card-deal">
                                <div class="card-header bg-transparent bd-b-0">
                                    <h6 class="card-title mg-b-0">@Model.Codigo</h6>
                                    <nav class="nav nav-card-icon">
                                        <a href="#" title="Actulizar" v-on:click="GetImages('InfoAdicional')"><i data-feather="refresh-cw"></i></a>
                                        <a href="#" title="Agregar nuevo" v-on:click="Updaload('InfoAdicional')"><i data-feather="plus"></i></a>
                                    </nav>
                                </div>
                                <div class="card-body  row" id="List_InfoAdicional">
                                    <partial name="ImgFiles" model="ViewBag.ImgsInfoAdicional" />
                                </div>
                            </div>
                        </div>
                        <div id="tab-Rechazados" class="tab-pane">
                            <div class="card card-hover card-deal">
                                <div class="card-header bg-transparent bd-b-0">
                                    <h6 class="card-title mg-b-0">@Model.Codigo</h6>
                                    <nav class="nav nav-card-icon">
                                        <a href="#" title="Actulizar" v-on:click="GetImages('Miniatura')"><i data-feather="refresh-cw"></i></a>
                                        <a href="#" title="Agregar nuevo" v-on:click="Updaload('Miniatura')"><i data-feather="plus"></i></a>
                                        <a href="#collapseExample" title="Ayuda" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample"><i data-feather="help-circle"></i></a>
                                    </nav>
                                </div>
                                <div class="card-body  row" id="List_Miniatura">
                                    <partial name="ImgFiles" model="ViewBag.ImgsMiniatura" />
                                </div>
                            </div>
                        </div>
                        <div id="tab-Fiechatec" class="tab-pane">
                            <div class="row">
                                @if (ViewBag.FichaTecnica != null)
                                {
                                    SplitAdminEcomerce.Models.FichaTecnica Ficha = (SplitAdminEcomerce.Models.FichaTecnica)ViewBag.FichaTecnica;
                                    <iframe src="@Ficha.Rutapath" type="application/pdf" allowfullscreen="allowfullscreen" class="embed-responsive-item"></iframe>
                                }
                                else
                                {
                                    <div class="alert alert-danger mg-b-0 col-lg-12" role="alert">
                                        <h6 class="alert-heading">Estimado usuario!</h6>
                                        <p>El producto <strong>@Model.Codigo</strong> no tiene asignado una ficha técnica, por favor selecciona la pestaña de <strong>configuración</strong> y en <strong>cambiar ficha técnica</strong></p>
                                        <hr>
                                        <p class="mb-0">Atte: Administrador Ecommerce Grupo Splittel.</p>
                                    </div>
                                }

                            </div>
                        </div>
                        <div id="tab-view360" class="tab-pane">
                            <div class="card card-hover card-deal">
                                <div class="card-header bg-transparent bd-b-0">
                                    <h6 class="card-title mg-b-0">@Model.Codigo</h6>
                                    <nav class="nav nav-card-icon">
                                        <a href="#" title="Eliminar vista 360" v-on:click="Eliminar360()"><i data-feather="trash"></i></a>
                                        <a href="#" title="Agregar nuevo" v-on:click="Add360()"><i data-feather="plus"></i></a>
                                    </nav>
                                </div>
                                <div class="card-body  row" id="List_Miniatura" style="height: 500px;">
                                    <iframe src="@Model.View360" allowfullscreen="allowfullscreen" class="embed-responsive-item col-lg-12"></iframe>
                                </div>
                            </div>

                        </div>
                        <div id="tab-settings" class="tab-pane">
                            <div class="row row-xs">
                                <div class="col-md-2">
                                    <ul class="list-group list-group-settings">
                                        <li class="list-group-item list-group-item-action ">
                                            <a href="#pane-accountSettings" data-toggle="tab" class="media active">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg>
                                                <div class="media-body ">
                                                    <h6>Generales</h6>
                                                    <span>Activar o desactivar, cambiar ficha técnica</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="list-group-item list-group-item-action ">
                                            <a href="#pane-desclarg" data-toggle="tab" class="media">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg>
                                                <div class="media-body ">
                                                    <h6>Descripción Larga</h6>
                                                    <span>Modificar descrión larga</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div><!-- col -->
                                <div class="col-md-10">
                                    <div class="card card-body pd-sm-40 pd-md-30 pd-xl-y-35 pd-xl-x-40">
                                        <div class="tab-content">
                                            <div id="pane-accountSettings" class="tab-pane active show">
                                                <div id="accordion2" class="accordion ui-accordion ui-widget ui-helper-reset" role="tablist">
                                                    <h6 class="accordion-title ui-accordion-header ui-corner-top ui-state-default ui-accordion-header-active ui-state-active ui-accordion-icons" role="tab" id="ui-id-1" aria-controls="ui-id-2" aria-selected="true" aria-expanded="true" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span>Activar producto</h6>
                                                    <div class="accordion-body ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content ui-accordion-content-active" style="" id="ui-id-2" aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="false">
                                                        <div class="form-group" id="ctl_desactivar" v-if="activo == 'si'">
                                                            <label class="form-label text-danger">Desactivar producto</label>
                                                            <p class="tx-sm tx-color-04">Una vez desactivada el producto, el usuario no podra visualizar el producto dentro de nuestro E-commerce.</p>
                                                            <button class="btn btn-sm btn-danger" v-on:click="Activar(false)" title="Desactivar cuenta : @Model.Descripcion">Desactivar</button>
                                                        </div>
                                                        <div class="form-group" id="ctl_activar" v-if="activo == 'no'">
                                                            <label class="form-label text-success">Activar producto</label>
                                                            <p class="tx-sm tx-color-04">Una vez activada el producto, el usuario podra visualizar el producto dentro de nuestro E-commerce.</p>
                                                            <button class="btn btn-sm btn-success" v-on:click="Activar(true)" title="Activar cuenta : @Model.Descripcion">Activar</button>
                                                        </div>
                                                    </div>
                                                    <h6 class="accordion-title ui-accordion-header ui-corner-top ui-accordion-header-collapsed ui-corner-all ui-state-default ui-accordion-icons" role="tab" id="ui-id-3" aria-controls="ui-id-4" aria-selected="false" aria-expanded="false" tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>Ficha ténica</h6>
                                                    <div class="accordion-body ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content" style="display: none;" id="ui-id-4" aria-labelledby="ui-id-3" role="tabpanel" aria-hidden="true">
                                                        <div class="card card-hover card-sale-location col-lg-12">
                                                            <div class="card-header bg-transparent">
                                                                <div>
                                                                    <h6 class="card-title mg-b-0">Fichas ténicas</h6>
                                                                </div>
                                                                <nav class="nav">
                                                                    <a href="#" title="actualizar" v-on:click="UpdateFichas('')" class="link-gray-500"><i data-feather="refresh-cw"></i></a>
                                                                </nav>
                                                            </div><!-- card-header -->
                                                            <div class="card-body row" v-if="fichas.data != null">
                                                                <table class="table datatable1 col-lg-12" v-if="fichas.data.contenido.length">
                                                                    <thead>
                                                                        <tr>
                                                                            <td>Archivo</td>
                                                                            <td>Clave</td>
                                                                            <td>Opciones</td>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr v-for="(item, index) in fichas.data.contenido">
                                                                            <td>
                                                                                <span v-if="item.isDirectorio == false"><i class="bd-green" data-feather="file"></i>{{ item.name }}</span>
                                                                                <a v-if="item.isDirectorio == true || item.name == '..'" v-on:click="UpdateFichas(item.pathServer+'/')" href="#"><i data-feather="folder"></i>{{ item.name }}</a>
                                                                            </td>
                                                                            <td>
                                                                                <span v-if="item.isDirectorio == false && item.datos != null">{{ item.datos.clave }}</span>
                                                                            </td>
                                                                            <td>
                                                                                <a href="#"  v-if="item.isDirectorio == false && item.datos != null" v-on:click="cambiarFicha(item.datos.clave)" title="Usar esta">Usar</a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div><!-- card-body -->
                                                            <div class="alert alert-info mg-b-0 col-lg-12"  v-if="fichas.data == null" role="alert">
                                                                <h6 class="alert-heading">Estimado usuario!</h6>
                                                                <p>Por favor has clic en <i data-feather="refresh-cw"></i> para poder obtener las fichas técnicas</p>
                                                                <hr>
                                                                <p class="mb-0">Atte: Administrador Ecommerce Grupo Splittel.</p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div><!-- tab-pane -->
                                            <div id="pane-desclarg" class="tab-pane">
                                                <h6 class="tx-uppercase tx-semibold tx-color-01 mg-b-0">Modificar descripción larga</h6>
                                                <hr>

                                                @if (ViewBag.DescricionCompartida != null)
                                                {
                                                    <div id="accordion1" class="accordion ui-accordion ui-widget ui-helper-reset" role="tablist">
                                                        <h6 class="accordion-title ui-accordion-header ui-corner-top ui-state-default ui-accordion-header-active ui-state-active ui-accordion-icons" role="tab" id="ui-id1-1" aria-controls="ui-id1-2" aria-selected="true" aria-expanded="true" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span>Editar actual descripción</h6>
                                                        <div class="accordion-body ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content ui-accordion-content-active" style="" id="ui-id1-2" aria-labelledby="ui-id1-1" role="tabpanel" aria-hidden="false">
                                                            <div class="alert alert-warning mg-b-0" role="alert">
                                                                <h6 class="alert-heading">Estimado usuario!</h6>
                                                                <p>La descripción de este producto es compartida, asi que cualquier cambio realizado afectará a más de un producto</p>
                                                                <hr>
                                                                <p class="mb-0">Atte: Administrador Ecommerce Grupo Splittel.</p>
                                                            </div>
                                                            <hr />
                                                            <div id="form-desc">
                                                                <partial name="../DescripcionCompartida/Edit" model="ViewBag.DescricionCompartida" />
                                                            </div>
                                                        </div>
                                                        <h6 class="accordion-title ui-accordion-header ui-corner-top ui-accordion-header-collapsed ui-corner-all ui-state-default ui-accordion-icons" role="tab" id="ui-id1-3" aria-controls="ui-id1-4" aria-selected="false" aria-expanded="false" tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>Cambiar por otra</h6>
                                                        <div class="accordion-body ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content" style="display: none;" id="ui-id1-4" aria-labelledby="ui-id1-3" role="tabpanel" aria-hidden="true">
                                                            @{
                                                                SplitAdminEcomerce.Models.DescripcionCompartida descripcionCompartida = (SplitAdminEcomerce.Models.DescripcionCompartida)ViewBag.DescricionCompartida;

                                                            }
                                                            <h4>Descripción actual</h4>
                                                            <p>@descripcionCompartida.Descripcion</p>
                                                            <span class="d-block tx-12 tx-color-04">@descripcionCompartida.Codigo</span>
                                                            <hr />
                                                            <form id="searchExpanding" class="search-form">
                                                                <input type="search" class="form-control" v-model="descripciones.patron" placeholder="Search">
                                                                <button class="btn" type="button" v-on:click="BuscardorDesc"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></button>
                                                            </form>
                                                            <ul class="list-group" v-if="descripciones.data.length">
                                                                <li class="list-group-item d-flex align-items-center" v-for="(item, index) in descripciones.data">
                                                                    <div>
                                                                        <h6 class="tx-14 tx-dark tx-semibold mg-b-0">{{item.descripcion}}</h6>
                                                                        <span class="d-block tx-12 tx-color-04">{{item.clave}}</span>
                                                                        <a href="#" v-on:click="cambiarDesc(index)">Seleccionar como descripción</a>
                                                                    </div>
                                                                </li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="alert alert-danger mg-b-0" role="alert">
                                                        <h6 class="alert-heading">Estimado usuario!</h6>
                                                        <p>El producto <strong>@Model.Codigo</strong> no cuenta con una descripción asignada</p>
                                                        <hr>
                                                        <p class="mb-0">Atte: Administrador Ecommerce Grupo Splittel.</p>
                                                    </div>
                                                    <hr />
                                                }

                                            </div><!-- tab-pane -->
                                        </div><!-- tab-content -->
                                    </div><!-- card -->
                                </div><!-- col -->
                            </div>
                        </div>
                    </div><!-- tab-content -->
                </div>
            </div>
        }

    </div>
    <div id="offCanvas3" class="off-canvas off-canvas-overlay off-canvas-right">
        <a href="#" class="close"><i data-feather="x"></i></a>
        <div class="pd-30 ht-100p">
            <partial name="../DescripcionCompartida/Details" model="ViewBag.DescricionCompartida" />
        </div>
    </div><!-- off-canvas -->

    <div class="off-canvas-backdrop"></div>
    
</div>
@section Scripts {
    <script src="~/lib/UI-Search-master/search.min.js"></script>
    <script>
        var app_detalleProducto = new Vue({
            el: "#app_detalleProducto",
            data: {
                ResultadosBus: [],
                activo: "@Model.Activo",
                descripciones: {
                    data: [],
                    selected: null,
                    patron: ""
                },
                fichas: {
                    data: null,
                    selected: null,
                    patron: "",
                    Folder: "",
                    Last: "",
                }
            },
            mounted() {
                document.getElementById("form-descripLarga").addEventListener("submit", function (event) {
                    event.preventDefault()
                    app_detalleProducto.save_decComp()
                });

            },
            methods: {
                Eliminar360: async function () {
                    var headers = {                        'Content-Type': 'application/json',                        "Access-Control-Allow-Headers": "Origin, X-Requested-With, Content-Type, Accept",                        'Access-Control-Allow-Origin': '*',                        'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS',                        }
                     Swal.fire({
                        title: "¿Deseas eliminar vista 360?",
                        text: "",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, eliminalo!'
                    }).then((result) => {
                        if (result.value) {
                            axios.get('@Html.Raw(string.Format("{0}models/PublicApi/UnzipFile.php?ItemCode={1}&Process=delete",ViewBag.SiteRute, Model.Codigo))', null, headers).then(response => {
                                $.toast({
                                    title: 'Error',
                                    subtitle: 'Ahora',
                                    content: response.data,
                                    type: 'success',
                                    delay: 15000
                                });
                            }).catch(error => {
                                if (error.response) {
                                    if (error.response.status === 400) {
                                        $.toast({
                                            title: 'Error',
                                            subtitle: 'Ahora',
                                            content: error.response.data,
                                            type: 'error',
                                            delay: 15000
                                        });
                                    }
                                }
                                console.error(error)
                            }).finally(() => {

                            })
                        }
                    })
                },
                UpdateFichas: async function (folder) {

                    if (this.fichas.data == null) {
                        this.fichas.Folder = '';
                    }
                    else {
                        this.fichas.Folder = folder;
                    }

                    var params = new URLSearchParams();
                    params.append('Folder', this.fichas.Folder);
                    params.append('Last', this.fichas.Last);
                    await axios.post('@Url.Action("GetList", "FichaTecnica")', params, null).then(response => {
                        this.fichas.data = response.data
                    }).catch(error => {
                        if (error.response) {
                            if (error.response.status === 400) {

                            }
                        }
                        console.error(error)
                    }).finally(() => {
                        feather.replace();
                    })
                    //$('.datatable1').DataTable({
                    //    language: {
                    //        searchPlaceholder: 'Search...',
                    //        sSearch: '',
                    //        lengthMenu: '_MENU_ items/page',
                    //    }
                    //});
                },
                save_decComp: function () {

                    var data = $('#form-descripLarga').serialize();
                    axios.post('@Url.Action("Edit", "DescripcionCompartida")', data, null).then(response => {
                        document.getElementById("form-desc").innerHTML = response.data;
                        document.getElementById("form-descripLarga").addEventListener("submit", function (event) {
                            event.preventDefault()
                            app_detalleProducto.save_decComp()
                        });
                    }).catch(error => {
                        if (error.response) {
                            if (error.response.status === 400) {
                                $.toast({
                                    title: 'Error',
                                    subtitle: 'Ahora',
                                    content: error.response.data,
                                    type: 'error',
                                    delay: 15000
                                });
                            }
                        }
                        console.error(error)
                    }).finally(() => {
                    })
                },
                BuscardorDesc: async function () {
                    var params = new URLSearchParams();
                    params.append('Patron', this.descripciones.patron);
                    axios.post('@Url.Action("Get", "DescripcionCompartida")', params,null).then(response => {
                        this.descripciones.data = response.data
                    }).catch(error => {
                        if (error.response) {
                            if (error.response.status === 400) {

                            }
                        }
                        console.error(error)
                    }).finally(() => {

                    })
                },
                Buscardor: async function () {
                    let Patron = document.getElementById("inp_bus_patron");
                    let Coluna = document.getElementById("inp_bus_colum");
                    var params = new URLSearchParams();
                    params.append('Codigo', Patron.value);
                    params.append('Columna', Coluna.value);
                    axios.post('@Url.Action("Buscador","Producto")', params,null).then(response => {
                        this.ResultadosBus = response.data
                    }).catch(error => {
                        if (error.response) {
                            if (error.response.status === 400) {

                            }
                        }
                        console.error(error)
                    }).finally(() => {

                    })
                },
                GetImages: async function (tipo) {
                    let params = new FormData();
                        params.append('codigo', '@Model.EncriptId');
                        params.append('Tipo', tipo );
                    await axios.post('@Url.Action("ImgFiles", "Producto")', params, null).then(response => {
                        document.getElementById("List_" + tipo).innerHTML = response.data;
                    }).catch(error => {
                        if (error.response) {
                            if (error.response.status === 400) {
                                $.toast({
                                    title: 'Error',
                                    subtitle: 'Ahora',
                                    content: error.response.data,
                                    type: 'error',
                                    delay: 15000
                                });
                            }
                        }
                        console.error(error)
                    }).finally(() => {
                    })
                    feather.replace();
                },
                Updaload: async function (tipo) {
                    const { value: file } = await Swal.fire({
                        title: 'Select image',
                        input: 'file',
                        inputAttributes: {
                            'accept': 'image/*',
                            'aria-label': 'Upload your profile picture'
                        }
                    })
                    if (file) {
                        let params = new FormData();
                            params.append('FormFile', file);
                            params.append('codigo', '@Model.EncriptId');
                        params.append('Tipo', tipo );
                        await axios.post('@Url.Action("UpdateFile", "Producto")', params, null).then(response => {
                            this.GetImages(tipo);
                            const reader = new FileReader()
                            reader.onload = (e) => {
                                Swal.fire({
                                    title: 'Tu archivo ha sido cargado',
                                    imageUrl: e.target.result,
                                    imageAlt: 'Archivo cargado'
                                })
                            }
                            reader.readAsDataURL(file)
                        }).catch(error => {
                            if (error.response) {
                                if (error.response.status === 400) {
                                    $.toast({
                                        title: 'Error',
                                        subtitle: 'Ahora',
                                        content: error.response.data,
                                        type: 'error',
                                        delay: 15000
                                    });
                                }
                            }
                            console.error(error)
                        }).finally(() => {
                        })
                    }
                },
                renombrar: async function (archivo, tipo) {
                    Swal.fire({
                        title: 'Nuevo nombre del archivo',
                        input: 'text',
                        inputValue: archivo.split('.')[0],
                        onOpen: function () {
                            var input = swal.getInput()
                            input.setSelectionRange(0, input.value.length)
                        },
                        inputAttributes: {
                            autocapitalize: 'off',
                        },
                        showCancelButton: true,
                        confirmButtonText: 'Renombrar',
                        showLoaderOnConfirm: true,
                        preConfirm: async (login) => {
                            let params = new FormData();
                            params.append('FileOld', archivo);
                            params.append('codigo', '@Model.EncriptId');
                            params.append('Tipo', tipo );
                            params.append('NameNew', login );
                            await axios.post('@Url.Action("RenameFile", "Producto")', params, null).then(response => {
                                return response.data;
                            }).catch(error => {
                                if (error.response) {
                                    if (error.response.status === 400) {
                                        $.toast({
                                            title: 'Error',
                                            subtitle: 'Ahora',
                                            content: error.response.data,
                                            type: 'error',
                                            delay: 15000
                                        });
                                    }
                                }
                                console.error(error)
                            }).finally(() => {
                            })
                        },
                        allowOutsideClick: () => !Swal.isLoading()
                    }).then((result) => {
                        if (result.value) {
                            this.GetImages(tipo);
                        }
                        console.log(result)
                    })
                },
                delete: async function (archivo, tipo) {
                    Swal.fire({
                        title: "¿Deseas eliminar este archivo?",
                        text: "",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, eliminalo!'
                    }).then(async (result) => {
                        if (result.value) {
                            let params = new FormData();
                            params.append('FileName', archivo);
                            params.append('codigo', '@Model.EncriptId');
                            params.append('Tipo', tipo );
                            await axios.post('@Url.Action("DeeteFile", "Producto")', params, null).then(response => {
                                this.GetImages(tipo);

                            }).catch(error => {
                                if (error.response) {
                                    if (error.response.status === 400) {
                                        $.toast({
                                            title: 'Error',
                                            subtitle: 'Ahora',
                                            content: error.response.data,
                                            type: 'error',
                                            delay: 15000
                                        });
                                    }
                                }
                                console.error(error)
                            }).finally(() => {
                            })
                        }
                    })

                },
                cambiarDesc: async function (id) {
                    Swal.fire({
                        title: "¿Deseas cambiar la descripcion?",
                        text: "",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, adelante!'
                    }).then(async (result) => {
                        if (result.value) {
                            let params = new FormData();
                            params.append('clave', this.descripciones.data[id].clave);
                            params.append('codigo', '@Model.EncriptId');
                            await axios.post('@Url.Action("CarbirDescripcion", "Producto")', params, null).then(response => {
                                document.getElementById("btn_refress").click();
                            }).catch(error => {
                                if (error.response) {
                                    if (error.response.status === 400) {
                                        $.toast({
                                            title: 'Error',
                                            subtitle: 'Ahora',
                                            content: error.response.data,
                                            type: 'error',
                                            delay: 15000
                                        });
                                    }
                                }
                                console.error(error)
                            }).finally(() => {
                            })
                        }
                    })

                },
                 cambiarFicha: async function (clave) {
                    Swal.fire({
                        title: "¿Deseas cambiar la ficha técnica?",
                        text: "",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, adelante!'
                    }).then(async (result) => {
                        if (result.value) {
                            let params = new FormData();
                            params.append('clave', clave);
                            params.append('codigo', '@Model.EncriptId');
                            await axios.post('@Url.Action("CarbiarFichatecnica", "Producto")', params, null).then(response => {
                                document.getElementById("btn_refress").click();
                            }).catch(error => {
                                if (error.response) {
                                    if (error.response.status === 400) {
                                        $.toast({
                                            title: 'Error',
                                            subtitle: 'Ahora',
                                            content: error.response.data,
                                            type: 'error',
                                            delay: 15000
                                        });
                                    }
                                }
                                console.error(error)
                            }).finally(() => {
                            })
                        }
                    })

                },
                Activar: async function (Act) {
                    console.log(Act)
                    Swal.fire({
                        title: "¿Deseas " + (Act == true ? "desactivar" : "activar") + " este archivo?",
                        text: "",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, adelante!'
                    }).then(async (result) => {
                        if (result.value) {
                            let params = new FormData();
                            params.append('codigo', '@Model.EncriptId');
                            params.append('Active', Act );
                            await axios.post('@Url.Action("Activar", "Producto")', params, null).then(response => {
                                this.activo = (Act == false ? "no" : "si");
                                document.getElementById("sms_active").style.display = (Act == false ? "block" : "none")
                                document.getElementById("txt_active").innerText = (Act == false ? "no" : "si")
                            }).catch(error => {
                                if (error.response) {
                                    if (error.response.status === 400) {
                                        $.toast({
                                            title: 'Error',
                                            subtitle: 'Ahora',
                                            content: error.response.data,
                                            type: 'error',
                                            delay: 15000
                                        });
                                    }
                                }
                                console.error(error)
                            }).finally(() => {
                            })
                        }
                    })

                }
            }
        });
    </script>
    <script>
        $(function () {

            'use strict'

            // The code below is for demo purposes only.
            // For you to not be confused, please refer to
            // Off-Canvas starter template in Collections

            $('.off-canvas-menu').on('click', function (e) {
                e.preventDefault();
                var target = $(this).attr('href');
                $(target).addClass('show');
            });


            $('.off-canvas .close').on('click', function (e) {
                e.preventDefault();
                $(this).closest('.off-canvas').removeClass('show');
            })

            $(document).on('click touchstart', function (e) {
                e.stopPropagation();

                // closing of sidebar menu when clicking outside of it
                if (!$(e.target).closest('.off-canvas-menu').length) {
                    var offCanvas = $(e.target).closest('.off-canvas').length;
                    if (!offCanvas) {
                        $('.off-canvas.show').removeClass('show');
                    }
                }
            });


            // Default functionality
            $('#accordion1').accordion({
                heightStyle: 'content'
            });
            $('#accordion2').accordion({
                heightStyle: 'content'
            });
        })
    </script>
}
