@model IEnumerable<SplitAdminEcomerce.Models.Cont_SeccionArchivo>

@{
    ViewData["Title"] = "ListFiles";
}

@if (Model.Count() > 0)
{
    <table class="table display responsive nowrap mt4 ml4 js-sortable-table-no-placeholder " id="tale_lstaarchivos">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.ArchivoPath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DescripcionWeb)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Posicion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Url)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Che_EsVisible)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="navy p4 js-sortable-tr" data-idKey="@item.IdCont_SeccionArchivo">
                    <td>
                        <a href="#" title="mueve esta linea"><i data-feather="move" class="svg-14"></i></a>
                    </td>
                    <td>

                        <div class="avatar"><img src="@Html.Raw($"{ViewBag.SiteBase}{item.ArchivoPath}")" class="" alt=""></div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescripcionWeb)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Posicion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Url)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Che_EsVisible)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "EditarFile", new { IdFile = item.EncriptId, idSecc = SplitAdminEcomerce.Tools.EncryptData.Encrypt(item.IdCont_Seccion + "") })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
<div class="alert alert-info mg-b-0" role="alert">
    <h6 class="alert-heading">Estimado usuario!</h6>
    <p>No se encontrarón archivos para la sección seleccionada, para agregar uno da click en <code><i data-feather="save" class="svg-14"></i>Agregar archivo</code> </p>
    <hr>
    <p class="mb-0">Atte: Administrador Ecommerce Grupo Splittel.</p>

</div>
}



